Body
{
background-color: black;
margin: 10;
}

Body #home header
{
background-color: #e6e6fa;
margin: -1;
padding: 2;
text-align: left;
font-size: 30px;
}

Body #home nav
{
background-color: #48D1CC;
margin: -1;
padding: 1;
text-align: right;
}

Body #home nav button
{
background-color: #4b0082	;	
color: #808080;
margin: 1;
padding: 1;
font-size: 20px;
}

Body #home nav button:hover
{
    background-color: purple;
    color: white;
    font-weight: bold;
}

Body #all-conversion-sections
{
    text-align:center
}

Body #home header .b
{
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
}
